@mixin input-styles() {
    background-color: $gray-dark-color;
    color: $white-color;
    height: 40px;
    width: 100%;
    border: 1px solid #AAAAAA;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: $poppins;
    padding-left: 10px;
    outline: none;
    &:hover {
        border-color: $first-color;
        transition: .2s;
    }
    &:focus {
        border-color: $first-color;
    }
}

@mixin form-section-styles() {
    min-width: 230px;
    display: flex;
    flex-direction: column;
}

@mixin welcome-text( $color, $font-size, $line-height, $font-weight ) {
    color: $color;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    position: fixed;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    .login__welcome {
        display: flex;
        flex-direction: column;
        margin-top: 5em;
        align-items: center;
        .welcome__image {
            height: 100%;
            width: auto;
        }
        .welcome__text {
            text-align: center;
            .welcome__title {
                @include welcome-text($white-color, $h1, 0, bold);
            }
            .welcome__paragraph {
                @include welcome-text($gray-color, $h3, 27px, bold);
                max-width: 100%;
            }
        }
    }
    .login__form {
        color: $gray-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        .form_section {
            max-width: 80%;
            .form__name-section {
                @include form-section-styles;
                .form__label {
                    margin-left: 10px;
                }
                .form__input {
                    @include input-styles
                }
            }
            .form__phone-section {
                @include form-section-styles;
                margin-top: 20px;
                .form__label {
                    margin-left: 10px;
                }
                .form__phone-input {
                    height: 40px;
                    background-color: $gray-dark-color;
                    width: 100%;
                    .form__input {
                        background-color: $gray-dark-color;
                        color: $white-color;
                        font-family: $poppins;
                        font-size: 13px;
                        border: 1px solid #AAAAAA;
                        height: 40px;
                        width: 100%;
                        &:hover {
                            border-color: $first-color;
                            transition: .2s;
                        }
                        &:focus {
                            border-color: $first-color;
                        }
                    }
                    .form__dropdown-button {
                        background-color: $gray-dark-color;
                        border: 1px solid #AAAAAA;
                        height: 40px;
                        color: $white-color;
                        
                        &:hover {
                            border-color: $first-color;
                            transition: .2s;
                        }
                        &:focus {
                            border-color: $first-color;
                        }
                        .selected-flag {
                            background-color: $gray-dark-color;
                            &:hover {
                                background-color: $hover-color;
                            }
                        }
                        .form__dropdown {
                            background-color: $second-color;
                            box-shadow: 0px 0px 5px 0px black;
                            width: calc(100% + 68vw);
                            .highlight {
                                background-color: $hover-color;
                            }
                            & > li {
                                font-family: $poppins;
                                font-size: 13px;
                                &:hover {
                                    background-color: $hover-color;
                                }
                            }
                            .divider {
                               border-bottom:1px solid $gray-color;
                            }
                            .form__dropdown-search {
                                background-color: $second-color;
                                
                                &:hover {
                                    background-color: #26313f;
                                }
                                .search-box {
                                    font-family: $poppins;
                                    font-size: 13px;
                                    width: 90%;
                                    color: $white-color;
                                    background-color: $second-alpha-color;
                                }
                            }
                        }
                    }
                }
            }
            .form__otp-section {
                visibility: hidden;
                position: absolute;
                @include form-section-styles;
                margin-top: 20px;
                &.active {
                    visibility: visible;
                    position: inherit;
                }
                .form__label {
                    margin-left: 10px;
                }
                .form__input {
                    @include input-styles
                }
            }
        }
        .form__button, .form__otp-button{
            margin-top: 20px;
            height: 100%;
            width: 130px;
            border-radius: 15px;
            background-color: $first-color;
            border-width: 0;
            display: flex;
            flex-direction:column;
            justify-content:center;
            align-items: center;
            cursor: pointer;
            &:hover {
                opacity: .5;
            }
            .form__text-button {
                color: $white-color;
                font-family: $poppins;
                font-size: $h5;
                font-style: normal;
                font-weight: 700;
                line-height: 17px;
            }
        }
        .form__button {
            &.active {
                visibility: hidden;
                position: absolute;
            }
        }
        .form__otp-button {
            visibility: hidden;
            position: absolute;
            &.active {
                visibility: visible;
                position: inherit;
            }
        }
    }
}

@media screen and (min-width: 410px) {
    .login {
        .login__form {
            .form_section {
                .form__phone-section {
                    .form__phone-input {
                        .form__dropdown-button {
                            .form__dropdown {
                                width: 310px;
                            }
                        }
                    }
                }
            }
        }
    }
}