@mixin icons-div-styles {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 300px;
    margin-right: 15px;
    cursor: pointer;
    transition: .2s;
}

.main {
    color: $white-color;
    .main__left-section {
        display: flex;
        flex-direction: column;
        .main__navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 60px;
            margin: 0;
            background-color: $second-color;
            border-left: 2px solid #000;
            .fas {
                font-size: 20px;
            }
            .main__settings {
                @include icons-div-styles;
                margin-left: 15px;
                &:hover {
                    background-color: $hover-color;
                }
                .fa-bars {
                    
                }
            }
            .navbar__title {
    
            }
            .main__search {
                @include icons-div-styles;
                &:hover {
                     background-color: $hover-color;
                }
                 .fa-search {
                    }
                }
            }
        .main__contacts-container {
            border-left: 2px solid #000;
            height: 1080px;
            overflow: auto;
            &::-webkit-scrollbar-thumb {
                background-color: #acacac;
                border-radius: 50px;
                height: 120px;
            }
            .main__contacts-list {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 0;
                margin: 0;
                .list__item {
                    display: grid;
                    grid-template-columns: 40px 270px 90px;
                    grid-template-rows: 80px;
                    gap: 18px;
                    padding-left: 8px;
                    align-items: center;
                    margin-top: 5px;
                    cursor: pointer;
                    border-bottom: 2px solid $second-color;
                    &:hover {
                        background-color: $second-color;
                    }
                    .list__avatar {
                    }
                    .list__info {
                        display: flex;
                        flex-direction: column;
                        .list__username {
                            line-height: 0;
                            font-size: $h5;
                        }
                        .list__messages {
                            line-height: 0;
                        }
                    }
                    .list__time-ago {
                        position: fixed;
                        right: 0;
                        margin-right: 20px;
                        z-index: 1000;
                    }
                }
                .list__divisor {
                    width: 100%;
                    height: 1px;
                    border-color: $second-color;
                }
            }
        }
        .main__burger-menu {
            position: absolute;
            visibility: hidden;
            &.active {
                visibility: visible;
                display: flex;
                flex-direction: column;
                margin-top: 90px;
                margin-left: 30px;
                width: 360px;
                height: 430px;
                border-radius: 15px;
            }
            .burger__user-info {
                height: 155px;
                background-color: $second-alpha-color;
                padding: 20px;
                box-sizing: border-box;
                border-radius: 15px 0 0 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .burger__user-avatar {
                    width: 62px;
                    height: auto;
                }
                .burger__user-name {
                    line-height: 0;
                    margin-bottom: 10px;
                }
                .burger__user-number {
                    line-height: 0;
                    color: $gray-color;
                }
            }
            .burger__settings-section {
                background-color: $second-color;
                .burger__setting-list {
                    display: flex;
                    flex-direction: column;
                    padding-left: 20px;
                    list-style: none;
                    .list__item {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        .list-avatar {
                            font-size: 25px;
                            width: 30px;
                        }
                        .list-title {
                            margin-left: 20px;
                            font-size: $h5;
                            line-height: 0;
                        }
                    }
                }
            }
        }
    }
    .main__chat-section {
        display: flex;
        flex-direction: column;
        border-right: 2px solid #000;
        .main__chat-navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $second-color;
            height: 90px;
            width: 100%;
            border-left: 2px solid #000;
            cursor: pointer;
            .navbar__contact {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: 300px;
                height: 100%;
                .navbar__avatar {
                    width: 66px;
                    height: 66px;
                }
                .navbar__info {
                    display: flex;
                    flex-direction: column;
                    line-height: 0;
                    text-align: start;
                    margin-right: 40px;
                    .navbar__username {
    
                    }
                    .navbar__timeago {
                        font-size: $h5;
                        color: $gray-color;
                    }
                }
            }
            .navbar__tools {
                display: flex;
                justify-content: right;
                width: 200px;
                margin-right: 10px;
                font-size: 21px;
                .navbar__search {
                    @include icons-div-styles;
                    &:hover {
                        background-color: $hover-color;
                    }
                }
                .navbar__settings {
                    @include icons-div-styles;
                    &:hover {
                        background-color: $hover-color;
                    }
                }
            }
        }
        .main__messages-section {
            height: 81vh;
            width: 100%;
            background: rgba(90, 141, 141, 0.75);
            box-shadow: inset 226px 260px 250px rgba(0, 0, 0, 0.25);
        }
        .main__input-section {
            background-color: $second-alpha-color;
            height: 90px;
            display: flex;
            align-items: center;
            justify-content: center;
            .main__input {
                color: $gray-color;
                background-color: $second-color;
                border: none;
                border-radius: 30px;
                padding-left: 20px;
                height: 45px;
                width: 90%;
                font-size: $h5;
                font-family: 'Poppins', sans-serif;
                outline: none;
            }
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 1200px) {
    .main {
        .main__left-section {
            .main__contacts-container {
                .main__contacts-list {
                    .list__item {
                        grid-template-columns: 50px 320px 92px;
                        gap: 18px;
                        .list__time-ago {
                            position: fixed;
                            right: 0;
                            margin-right: 20px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 481px) and (max-width: 1200px) {

}

@media screen and (min-width: 1201px) {
    .main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .main__left-section {
            width: 480px;
            .main__navbar {
                height: 90px;
            }
            .main__contacts-container {
                .main__contacts-list {
                    .list__item {
                        grid-template-columns: 58px 320px 92px;
                        gap: 14px;
                        padding-left: 8px;
                        align-items: center;
                        margin-top: 5px;
                        .list__avatar {
    
                        }
                        .list__info{
    
                        }
                        .list__time-ago{
                            position: inherit;
                        }
                    }
                }
            }
        }
        .main__chat-section {
            width: 1200px;
            
        }
    }
}