html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html*, html *::before, html *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #172029;
  font-family: "Poppins", sans-serif;
  margin: 0;
  overflow-y: hidden;
}

body main {
  overflow-x: clip;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: fixed;
  height: 100%;
  width: 100%;
}

.login .login__welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .login__welcome .welcome__image {
  height: 100%;
  width: auto;
}

.login .login__welcome .welcome__text {
  text-align: center;
}

.login .login__welcome .welcome__text .welcome__title {
  color: white;
  font-size: 32px;
  line-height: 0;
  font-weight: bold;
}

.login .login__welcome .welcome__text .welcome__paragraph {
  color: #aaaaaa;
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  max-width: 100%;
}

.login .login__form {
  color: #aaaaaa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
}

.login .login__form .form_section {
  max-width: 80%;
}

.login .login__form .form_section .form__name-section {
  min-width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login .login__form .form_section .form__name-section .form__label {
  margin-left: 10px;
}

.login .login__form .form_section .form__name-section .form__input {
  background-color: #212121;
  color: white;
  height: 40px;
  width: 100%;
  border: 1px solid #AAAAAA;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  padding-left: 10px;
  outline: none;
}

.login .login__form .form_section .form__name-section .form__input:hover {
  border-color: #1975e0;
  -webkit-transition: .2s;
  transition: .2s;
}

.login .login__form .form_section .form__name-section .form__input:focus {
  border-color: #1975e0;
}

.login .login__form .form_section .form__phone-section {
  min-width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.login .login__form .form_section .form__phone-section .form__label {
  margin-left: 10px;
}

.login .login__form .form_section .form__phone-section .form__phone-input {
  height: 40px;
  background-color: #212121;
  width: 100%;
}

.login .login__form .form_section .form__phone-section .form__phone-input .form__input {
  background-color: #212121;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  border: 1px solid #AAAAAA;
  height: 40px;
  width: 100%;
}

.login .login__form .form_section .form__phone-section .form__phone-input .form__input:hover {
  border-color: #1975e0;
  -webkit-transition: .2s;
  transition: .2s;
}

.login .login__form .form_section .form__phone-section .form__phone-input .form__input:focus {
  border-color: #1975e0;
}

.login .login__form .form_section .form__phone-section .form__phone-input .form__dropdown-button {
  background-color: #212121;
  border: 1px solid #AAAAAA;
  height: 40px;
  color: white;
}

.login .login__form .form_section .form__phone-section .form__phone-input .form__dropdown-button:hover {
  border-color: #1975e0;
  -webkit-transition: .2s;
  transition: .2s;
}

.login .login__form .form_section .form__phone-section .form__phone-input .form__dropdown-button:focus {
  border-color: #1975e0;
}

.login .login__form .form_section .form__phone-section .form__phone-input .form__dropdown-button .selected-flag {
  background-color: #212121;
}

.login .login__form .form_section .form__phone-section .form__phone-input .form__dropdown-button .selected-flag:hover {
  background-color: #37465a;
}

.login .login__form .form_section .form__phone-section .form__phone-input .form__dropdown-button .form__dropdown {
  background-color: #26313f;
  -webkit-box-shadow: 0px 0px 5px 0px black;
          box-shadow: 0px 0px 5px 0px black;
  width: calc(100% + 68vw);
}

.login .login__form .form_section .form__phone-section .form__phone-input .form__dropdown-button .form__dropdown .highlight {
  background-color: #37465a;
}

.login .login__form .form_section .form__phone-section .form__phone-input .form__dropdown-button .form__dropdown > li {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}

.login .login__form .form_section .form__phone-section .form__phone-input .form__dropdown-button .form__dropdown > li:hover {
  background-color: #37465a;
}

.login .login__form .form_section .form__phone-section .form__phone-input .form__dropdown-button .form__dropdown .divider {
  border-bottom: 1px solid #aaaaaa;
}

.login .login__form .form_section .form__phone-section .form__phone-input .form__dropdown-button .form__dropdown .form__dropdown-search {
  background-color: #26313f;
}

.login .login__form .form_section .form__phone-section .form__phone-input .form__dropdown-button .form__dropdown .form__dropdown-search:hover {
  background-color: #26313f;
}

.login .login__form .form_section .form__phone-section .form__phone-input .form__dropdown-button .form__dropdown .form__dropdown-search .search-box {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  width: 90%;
  color: white;
  background-color: #172029;
}

.login .login__form .form_section .form__otp-section {
  visibility: hidden;
  position: absolute;
  min-width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.login .login__form .form_section .form__otp-section.active {
  visibility: visible;
  position: inherit;
}

.login .login__form .form_section .form__otp-section .form__label {
  margin-left: 10px;
}

.login .login__form .form_section .form__otp-section .form__input {
  background-color: #212121;
  color: white;
  height: 40px;
  width: 100%;
  border: 1px solid #AAAAAA;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  padding-left: 10px;
  outline: none;
}

.login .login__form .form_section .form__otp-section .form__input:hover {
  border-color: #1975e0;
  -webkit-transition: .2s;
  transition: .2s;
}

.login .login__form .form_section .form__otp-section .form__input:focus {
  border-color: #1975e0;
}

.login .login__form .form__button, .login .login__form .form__otp-button {
  margin-top: 20px;
  height: 100%;
  width: 130px;
  border-radius: 15px;
  background-color: #1975e0;
  border-width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.login .login__form .form__button:hover, .login .login__form .form__otp-button:hover {
  opacity: .5;
}

.login .login__form .form__button .form__text-button, .login .login__form .form__otp-button .form__text-button {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
}

.login .login__form .form__button.active {
  visibility: hidden;
  position: absolute;
}

.login .login__form .form__otp-button {
  visibility: hidden;
  position: absolute;
}

.login .login__form .form__otp-button.active {
  visibility: visible;
  position: inherit;
}

@media screen and (min-width: 410px) {
  .login .login__form .form_section .form__phone-section .form__phone-input .form__dropdown-button .form__dropdown {
    width: 310px;
  }
}

.main {
  color: white;
}

.main .main__left-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .main__left-section .main__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  margin: 0;
  background-color: #26313f;
  border-left: 2px solid #000;
}

.main .main__left-section .main__navbar .fas {
  font-size: 20px;
}

.main .main__left-section .main__navbar .main__settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 300px;
  margin-right: 15px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  margin-left: 15px;
}

.main .main__left-section .main__navbar .main__settings:hover {
  background-color: #37465a;
}

.main .main__left-section .main__navbar .main__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 300px;
  margin-right: 15px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.main .main__left-section .main__navbar .main__search:hover {
  background-color: #37465a;
}

.main .main__left-section .main__contacts-container {
  border-left: 2px solid #000;
  height: 1080px;
  overflow: auto;
}

.main .main__left-section .main__contacts-container::-webkit-scrollbar-thumb {
  background-color: #acacac;
  border-radius: 50px;
  height: 120px;
}

.main .main__left-section .main__contacts-container .main__contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
}

.main .main__left-section .main__contacts-container .main__contacts-list .list__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 270px 90px;
      grid-template-columns: 40px 270px 90px;
  -ms-grid-rows: 80px;
      grid-template-rows: 80px;
  gap: 18px;
  padding-left: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
  cursor: pointer;
  border-bottom: 2px solid #26313f;
}

.main .main__left-section .main__contacts-container .main__contacts-list .list__item:hover {
  background-color: #26313f;
}

.main .main__left-section .main__contacts-container .main__contacts-list .list__item .list__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .main__left-section .main__contacts-container .main__contacts-list .list__item .list__info .list__username {
  line-height: 0;
  font-size: 13px;
}

.main .main__left-section .main__contacts-container .main__contacts-list .list__item .list__info .list__messages {
  line-height: 0;
}

.main .main__left-section .main__contacts-container .main__contacts-list .list__item .list__time-ago {
  position: fixed;
  right: 0;
  margin-right: 20px;
  z-index: 1000;
}

.main .main__left-section .main__contacts-container .main__contacts-list .list__divisor {
  width: 100%;
  height: 1px;
  border-color: #26313f;
}

.main .main__left-section .main__burger-menu {
  position: absolute;
  visibility: hidden;
}

.main .main__left-section .main__burger-menu.active {
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 90px;
  margin-left: 30px;
  width: 360px;
  height: 430px;
  border-radius: 15px;
}

.main .main__left-section .main__burger-menu .burger__user-info {
  height: 155px;
  background-color: #172029;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .main__left-section .main__burger-menu .burger__user-info .burger__user-avatar {
  width: 62px;
  height: auto;
}

.main .main__left-section .main__burger-menu .burger__user-info .burger__user-name {
  line-height: 0;
  margin-bottom: 10px;
}

.main .main__left-section .main__burger-menu .burger__user-info .burger__user-number {
  line-height: 0;
  color: #aaaaaa;
}

.main .main__left-section .main__burger-menu .burger__settings-section {
  background-color: #26313f;
}

.main .main__left-section .main__burger-menu .burger__settings-section .burger__setting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
  list-style: none;
}

.main .main__left-section .main__burger-menu .burger__settings-section .burger__setting-list .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.main .main__left-section .main__burger-menu .burger__settings-section .burger__setting-list .list__item .list-avatar {
  font-size: 25px;
  width: 30px;
}

.main .main__left-section .main__burger-menu .burger__settings-section .burger__setting-list .list__item .list-title {
  margin-left: 20px;
  font-size: 13px;
  line-height: 0;
}

.main .main__chat-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 2px solid #000;
}

.main .main__chat-section .main__chat-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #26313f;
  height: 90px;
  width: 100%;
  border-left: 2px solid #000;
  cursor: pointer;
}

.main .main__chat-section .main__chat-navbar .navbar__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 100%;
}

.main .main__chat-section .main__chat-navbar .navbar__contact .navbar__avatar {
  width: 66px;
  height: 66px;
}

.main .main__chat-section .main__chat-navbar .navbar__contact .navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 0;
  text-align: start;
  margin-right: 40px;
}

.main .main__chat-section .main__chat-navbar .navbar__contact .navbar__info .navbar__timeago {
  font-size: 13px;
  color: #aaaaaa;
}

.main .main__chat-section .main__chat-navbar .navbar__tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 200px;
  margin-right: 10px;
  font-size: 21px;
}

.main .main__chat-section .main__chat-navbar .navbar__tools .navbar__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 300px;
  margin-right: 15px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.main .main__chat-section .main__chat-navbar .navbar__tools .navbar__search:hover {
  background-color: #37465a;
}

.main .main__chat-section .main__chat-navbar .navbar__tools .navbar__settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 300px;
  margin-right: 15px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.main .main__chat-section .main__chat-navbar .navbar__tools .navbar__settings:hover {
  background-color: #37465a;
}

.main .main__chat-section .main__messages-section {
  height: 81vh;
  width: 100%;
  background: rgba(90, 141, 141, 0.75);
  -webkit-box-shadow: inset 226px 260px 250px rgba(0, 0, 0, 0.25);
          box-shadow: inset 226px 260px 250px rgba(0, 0, 0, 0.25);
}

.main .main__chat-section .main__input-section {
  background-color: #172029;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .main__chat-section .main__input-section .main__input {
  color: #aaaaaa;
  background-color: #26313f;
  border: none;
  border-radius: 30px;
  padding-left: 20px;
  height: 45px;
  width: 90%;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  outline: none;
}

@media screen and (min-width: 481px) and (max-width: 1200px) {
  .main .main__left-section .main__contacts-container .main__contacts-list .list__item {
    -ms-grid-columns: 50px 320px 92px;
        grid-template-columns: 50px 320px 92px;
    gap: 18px;
  }
  .main .main__left-section .main__contacts-container .main__contacts-list .list__item .list__time-ago {
    position: fixed;
    right: 0;
    margin-right: 20px;
  }
}

@media screen and (min-width: 1201px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .main__left-section {
    width: 480px;
  }
  .main .main__left-section .main__navbar {
    height: 90px;
  }
  .main .main__left-section .main__contacts-container .main__contacts-list .list__item {
    -ms-grid-columns: 58px 320px 92px;
        grid-template-columns: 58px 320px 92px;
    gap: 14px;
    padding-left: 8px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5px;
  }
  .main .main__left-section .main__contacts-container .main__contacts-list .list__item .list__time-ago {
    position: inherit;
  }
  .main .main__chat-section {
    width: 1200px;
  }
}

.flash-message {
  background-color: #1975e0;
  color: white;
  height: 80px;
  width: 100%;
  position: absolute;
  z-index: 3000;
}

.flash-message .flash-message__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1200px 50px;
      grid-template-columns: 1200px 50px;
  gap: 600px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flash-message .flash-message__content .flash-message__message {
  -ms-grid-column-align: right;
      justify-self: right;
}

.flash-message .flash-message__content .fa-times {
  -ms-grid-column-align: right;
      justify-self: right;
  font-size: 24px;
  cursor: pointer;
}
/*# sourceMappingURL=index.css.map */