.main__search-contacts {
    background-color: $second-alpha-color;
    height: 100%;
    .search-contacts__navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
        font-size: $h3;
        border-bottom: 2px solid #26313f;
        .search-contacts__back {
            @include icons-div-styles;
            margin-right: 0;
            &:hover {
                background-color: #37465a;
            }
            .fa-arrow-left {
                cursor: pointer;
            }
        }
        .search-contacts__input-container {
            width: 78%;
            height: 40px;
            border-radius: 3000px;
            background-color: $second-color;
            border: 1px solid $second-alpha-color;
            display: flex;
            align-items: center;
            &:focus-within {
                border-color: $first-color;
            }
            &:hover {
                border-color: $first-color;
            }
            .fa-search {
                margin-left: 10px;
            }
            .search-contacts__input {
                width: 100%;
                height: 38px;
                border: none;
                background-color: $second-color;
                border-radius: 3000px;
                outline: none;
                color: $white-color;
                padding-left: 15px;
                font-family: 'Poppins';
            }
        }
    }
    .contacts-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .contacts-suggestion {
            text-align: center;
        }
        .contacts-not-found {
            text-align: center;
        }
        .contacts__loader {
            margin-top: 50%;
            text-align: center;
        }
        .contacts-list {
            display: flex;
            flex-direction: column;
            list-style: none;
            padding-left: 0;
            margin: 0;
            .list__item {
                display: flex;
                align-items: center;
                height: 82px;
                border-bottom: 2px solid #26313f;
                cursor: pointer;
                padding-left: 15px;
                &:hover {
                    background-color: $second-color;
                }
                .list__avatar {

                }
                .list__info {
                    display: flex;
                    flex-direction: column;
                    margin-left: 30px;
                    line-height: 0;
                    .list__username {

                    }
                    .list__last-seen {
                        color: $gray-color;
                    }
                }
                .list__add-contact {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 200px;
                    font-size: $h2;
                    border-radius: 3000px;
                    width: 50px;
                    height: 50px;
                    &:hover {
                        background-color: $second-color;
                    }
                    .fas {
                        font-size: $h2;
                    }
                    .fa-user-check {
                        pointer-events: none;
                        cursor: none;
                    }
                    .fa-user-plus {
                        cursor: pointer;
                        &:hover {
                            color: $gray-color;
                        }
                    }
                }
            }
        }
        .add-contact-group-container {
            position: absolute;
            bottom: 0;
            margin-top: 90px;
            height: 65px;
            pointer-events: none;
            display: flex;
            justify-content: center;
            width: 100%;
            margin-bottom: 20px;
            .add-group__sub-container {
                display: flex;
                width: 100%;
                .add-group__left-side {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: right;
                    .add-group__button {
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 65px;
                        height: 65px;
                        background-color: $first-color;
                        border-radius: 300px;
                        z-index: 1000;
                        cursor: pointer;
                        margin-right: 20px;
                        pointer-events:initial;
                        &.active {
                            visibility: hidden;
                        }
                        &:hover{
                            transition: .25s;
                            background-color: $first-alpha-color;
                        }
                        .fa-user-plus {
                            font-size: $h2;
                        }
                    }
                }
                .add-group__right-side {
                    width: 0;
                    height: 100%
                }
            }
        }
    }
}

@media screen and (min-width: 1201px) { 
    .main__search-contacts {
        .search-contacts__navbar {
            justify-content: center;
            .search-contacts__input-container {
                .search-contacts__input {
                    width: 331px;
                }
            }
        }
        .contacts-section {
            .add-contact-group-container {
                .add-group__sub-container {
                    .add-group__left-side {
                        width: 400px;
                        .add-group__button {
                            margin-right: 10px;
                            .fa-check {
                                font-size: 25px;
                            }
                        }
                    }
                    .add-group__right-side {
                        width: 1200px;
                    }
                }
            }
        }
    }
}