@mixin icons-div-styles {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 300px;
    margin-right: 15px;
    cursor: pointer;
    transition: .2s;
}

.main {
    color: $white-color;
    .main__left-section {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 1201px) {
    .main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .main__left-section {
            width: 480px;
            height: 100vh;
            .main__navbar-section{
                height: 90px;
                .main__navbar {
                    height: 90px;
                }
            }
            .main__content-section {
                
            }
        }
    }
}

@import "./main-contacts";
@import "./main-navbar";
@import "./main-chat";
@import "./main-addcontacts";