.main__configuration-section {
    width: 400px;
    height: 100%;
    background-color: $second-alpha-color;
    .config__navbar-section {
        display: flex;
        align-items: center;
        .config__back {
            @include icons-div-styles;
            margin-left: 15px;
            font-size: 22px;
            &:hover {
                background-color: $hover-color;
            }
            .fa-arrow-left {

            }
        }
        .config__title {
            margin-left: 15%;
        }
    }
    .config__options-section {
        .config__list {
            list-style: none;
            display: flex;
            flex-direction: column;
            padding-left: 0px;
            .list__item {
                display: flex;
                align-items: center;
                cursor: pointer;
                padding-left: 20px;
                &:hover {
                    background-color: $hover-color;
                }
                .fa-pen {
                    width: 30px;
                }
                .list__option-name {

                }
            }
        }
    }
}