@mixin icons-div-styles {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 300px;
    margin-right: 15px;
    cursor: pointer;
    // transition: .2s;
}
// html {
//     height: 100%;
// }
body {
    // overflow-y: hidden !important;
}
.main {
    color: $white-color;
    .main__left-section {
        display: flex;
        flex-direction: column;
        &.hidden {
            visibility: hidden;
            position: fixed;
            margin-left: 3000000px;
        }
    }
}

@media screen and (min-width: 1201px) {
    body {
        overflow-y: visible !important;
    }
    .main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .main__left-section {
            width: 400px;
            height: 100vh;
            &.hidden {
                visibility: visible;
                position: inherit;
                margin-left: 0;
            }
            .main__navbar-section{
                height: 90px;
                .main__navbar {
                    height: 90px;
                }
            }
            .main__content-section {
                
            }
        }
    }
}

@import "./main-contacts";
@import "./main-navbar";
@import "./main-chat";
@import "./main-searchcontacts";
@import "./main-searchmessages";
@import "./main-contactprofile";
@import "./main-displayPreviousImage";
@import "./main-chatsettings";
@import "./main-configuration";
@import "./main-editprofile";
@import "./main-creategroup";
@import "./main-chatgroupinfo";
