.main__content-section{
    // width: 480px;
    height: 100%;
    border-left: 2px solid rgb(0, 0, 0);
    .main__contacts {
        height: 100%;
        overflow: auto;
        .main__contacts-list {
            display: flex;
            flex-direction: column;
            width: 97%;
            padding: 0;
            margin: 0;
            .list__item {
                width: 100%;
                height: 80px;
                display: flex;
                padding-left: 15px;
                align-items: center;
                margin-top: 5px;
                cursor: pointer;
                border-bottom: 2px solid $second-color;
                &:hover {
                    background-color: $second-color;
                }
                .list__avatar {
                }
                .list__info {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin-left: 20px;
                    .list__username {
                        line-height: 0;
                        font-size: $h5;
                    }
                    .list__messages {
                        line-height: 0;
                    }
                }
                .list__message-info {
                    display: flex;
                    align-items: center;
                    width: 100px;
                    .fa-comment-dots {
                        visibility: hidden;
                        position: absolute;
                        color: $first-color;
                        font-size: $h1;
                        
                        &:hover {
                            color: $first-alpha-color;
                        }
                    }
                    .fa-comment-dots.active {
                        visibility: visible;
                        position:inherit;
                    }
                    .list__time-ago {
                        width: 150px;
                        display: flex;
                        flex-direction: row-reverse;
                        justify-content: space-between;
                        align-items: center;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    .main__search-contacts {
        width: 100%;
    }
    .main_add-contacts-container {
        position: absolute;
        bottom: 0;
        margin-top: 90px;
        height: 65px;
        pointer-events: none;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
        .add-contacts__sub-container {
            display: flex;
            width: 100%;
            .add-contacts__left-side {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: right;
                .add-contacts__button {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 65px;
                    height: 65px;
                    background-color: $first-color;
                    border-radius: 300px;
                    z-index: 1000;
                    cursor: pointer;
                    margin-right: 20px;
                    pointer-events:initial;
                    &.active {
                        visibility: hidden;
                    }
                    &:hover{
                        transition: .25s;
                        background-color: $first-alpha-color;
                    }
                    .fa-user-plus {
                        font-size: $h2;
                    }
                }
            }
            .add-contacts__right-side {
                width: 0;
                height: 100%
            }
        }
    }
}

// @media screen and (min-width: 481px) and (max-width: 1200px) {
//     // .main {
//     //     .main__left-section {
//     //         .main__content-section {
//     //             .main__contacts {
//     //                 .main__contacts-list {
//     //                     .list__item {
//     //                         grid-template-columns: 50px 320px 92px;
//     //                         gap: 18px;
//     //                         .list__time-ago {
//     //                             position: fixed;
//     //                             right: 0;
//     //                             margin-right: 20px;
//     //                         }
//     //                     }
//     //                 }
//     //             }
//     //         }
//     //     }
//     // }
// }

@media screen and (min-width: 1201px) {
    .main {
        .main__content-section {
            .main__contacts {
                .main__contacts-list {
                    .list__item {
                        height: 80px;
                        .list__avatar {
    
                        }
                        .list__info{
                            max-width: 300px;
                            .list__username {

                            }
                            .list__message-container {
                                display: flex;
                                align-items: center;
                                .list__messages {
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    line-height:1;
                                    margin: 5px 0 0 0;
                                }
                                .fas {
                                    margin: 5px 5px 0 0;
                                }
                                .fa-check {
                                    
                                }
                                .fa-check-double {

                                }
                            }
                        }
                        .list__message-info {
                            .fa-comment-dots {

                            }
                            .list__time-ago{
                                position: inherit;
                            }
                        }
                    }
                }
            }
            .main_add-contacts-container {

                .add-contacts__sub-container {
                    
                    .add-contacts__left-side {
                        width: 480px;
                        .add-contacts__button {
                            margin-right: 10px;
                            &.active {
                            }
                            &:hover{
                            }
                            .fa-user-plus {
                            }
                        }
                    }
                    .add-contacts__right-side {
                        width: 1200px;
                    }
                }
            }
        }
    }
}