.main__navbar-section{
    height: 60px;
    .main__burger-menu {
        position: absolute;
        visibility: hidden;
        &.active {
            visibility: visible;
            display: flex;
            flex-direction: column;
            width: 320px;
            height: 430px;
            border-radius: 15px;
        }
        .burger__user-info {
            background-color: $second-alpha-color;
            padding: 20px;
            box-sizing: border-box;
            border-radius: 15px 0 0 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .burger__user-avatar-container {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100px;
                height: 100px;
                cursor: pointer;
                border-radius: 3000px;
                &:hover {
                    .burger__user-avatar {
                        opacity: 0.6;
                    }
                    .fa-user-edit {
                        visibility: visible;
                    }
                }
                .burger__user-avatar {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 3000px;
                }
                .fa-user-edit {
                    visibility: hidden;
                    position: absolute;
                    font-size: 22px;
                }
            }
            .burger__user-name {
                line-height: 0;
                margin-bottom: 10px;
            }
            .burger__user-number {
                line-height: 0;
                color: $gray-color;
            }
        }
        .burger__settings-section {
            background-color: $second-color;
            .burger__setting-list {
                display: flex;
                flex-direction: column;
                padding-left: 20px;
                list-style: none;
                .list__item {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    &:hover {
                        opacity: 0.6;
                    }
                    .list-avatar {
                        font-size: 25px;
                        width: 30px;
                    }
                    .list-title {
                        margin-left: 20px;
                        font-size: $h5;
                        line-height: 0;
                    }
                }
            }
        }
    }
    .main__navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        background-color: $second-color;
        border-left: 2px solid #000;
        .fas {
            font-size: 20px;
        }
        .main__settings {
            @include icons-div-styles;
            margin-left: 15px;
            &:hover {
                background-color: $hover-color;
            }
            .fa-bars {
                
            }
        }
        .navbar__title {

        }
        .main__search {
            @include icons-div-styles;
            &:hover {
                 background-color: $hover-color;
            }
            .fa-search {
            }
        }
    }
}

@media screen and (min-width: 1201px) {
    .main {
        .main__left-section {
            .main__navbar-section{
                height: 90px;
                .main__navbar {
                    height: 90px;
                }
            }

        }
    }
}