.main__no-chat {
    width: 1200px;
    background-color: $second-color;
    border-right: 2px solid #000;
    border-left: 1px solid #000;
}
.main__chat-section {
    display: flex;
    flex-direction: column;
    border-right: 2px solid #000;
    .main__chat-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $second-color;
        height: 90px;
        width: 100%;
        border-left: 2px solid #000;
        cursor: pointer;
        .navbar__contact {
            display: flex;
            // justify-content: space-evenly;
            align-items: center;
            width: 300px;
            height: 100%;
            margin-left: 30px;
            .navbar__avatar {
                width: 66px;
                height: 66px;
            }
            .navbar__info {
                display: flex;
                flex-direction: column;
                line-height: 0;
                text-align: start;
                margin-left: 20px;
                .navbar__username {

                }
                .navbar__timeago {
                    font-size: $h5;
                    color: $gray-color;
                }
            }
        }
        .navbar__tools {
            display: flex;
            justify-content: right;
            width: 200px;
            margin-right: 10px;
            font-size: 21px;
            .navbar__search {
                @include icons-div-styles;
                &:hover {
                    background-color: $hover-color;
                }
            }
            .navbar__settings {
                @include icons-div-styles;
                &:hover {
                    background-color: $hover-color;
                }
            }
        }
    }
    .main__messages-section {
        height: 81vh;
        width: 100%;
        background-color: #1976e080;
        box-shadow: inset 226px 260px 250px rgba(0, 0, 0, 0.25);
    }
    .main__input-section {
        background-color: $second-alpha-color;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        .main__input {
            color: $gray-color;
            background-color: $second-color;
            border: none;
            border-radius: 30px;
            padding-left: 20px;
            height: 45px;
            width: 90%;
            font-size: $h5;
            font-family: 'Poppins', sans-serif;
            outline: none;
        }
        .main__send-message {
            margin-left: 20px;
            @include icons-div-styles;
            width: 50px;
            height: 50px;
            justify-content: right;
            background-color: rgba(255, 0, 0, 0);
            border: none;
            &:hover {
                background-color: $hover-color;
            }
            .main__send-image {
                width: 40px;
                height: auto;
                color: white;
            }
        }
    }
}

@media screen and (min-width: 1201px) {
    .main__chat-section {
        width: 1200px;
        .messages-user-logged-messages {
            
            .messages-message-container {
                display: inline-block;
                background-color: $second-color;
                text-align: left;
                margin: 20px 0 20px 60px;
                padding: 0px 10px 0 10px;
                border-radius: 10px;
                max-width: 500px;
                .messages__username {
                    color: $first-alpha-color;
                    font-size: $h5;
                }
                .messages__message {
                    font-weight: 400px;
                    line-height: 1.2;
                    word-break: break-word;
                    font-size: $h5;
                }    
                .messages__timeago {
                    text-align: right;
                    line-height: 0;
                    color: $gray-color;
                }
            }
        }
        .messages-contact-messages {
            display: flex;
            justify-content: right;
            padding: 20px;
            .messages-message-container {
                display: inline-block;
                background-color: $second-alpha-color;
                text-align: right;
                // margin-left: calc(80% - 240px);
                // margin: 50px 0 0 calc(100% - 150px);
                // margin-left: 500px;
                padding: 10px 20px 0 20px;
                border-radius: 10px;
                max-width: 500px;
                .messages__username {
                    font-weight: 700px;
                    color: $first-color;
                    font-size: $h5;
                }
                .messages__message {
                    font-weight: 500px;
                    word-break: break-word;
                    line-height: 1.2;
                    font-size: $h5;
                }    
                .messages__timeago {
                    text-align: right;
                    line-height: 0;
                    color: $gray-color;
                }
            }
        }
    }
}