.main__previous-image {
    display: flex;
    flex-direction: column;
    width: 100%;
    .previous__close {
        margin-left: 10px;
        margin-top: 10px;
        @include icons-div-styles;
        width: 50px;
        font-size: 21px;
        &:hover {
            background-color: $hover-color;
        }
    }
    .previous__image-container {
        display: flex;
            justify-content: center;
        .previous__image-item {
            width: 80%;
            height: 600px;
            .previous__image {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    .previous__bottom-container {
        display: flex;
        justify-content: center;
        .previous__send-image {
            @include icons-div-styles;
            margin-top: 50px;
            width: 80px;
            height: 55px;
            justify-content: right;
            background-color: rgba(255, 0, 0, 0);
            border: none;
            .previous__send-image-image {
                width: 55px;
                height: auto;
                color: white;
                cursor: pointer;
                &:hover {
                    transform: scale(1.08);
                    opacity: .5;
                }
            }
        }
    }
}