.main__content-section{
    // width: 480px;
    height: 90vh;
    border-left: 2px solid rgb(0, 0, 0);
    .main__contacts {
        height: 100%;
        overflow: auto;
        .main__contacts-list {
            display: flex;
            flex-direction: column;
            width: 97%;
            padding: 0;
            margin: 0;
            .list__item {
                width: 100%;
                display: flex;
                padding-left: 15px;
                align-items: center;
                margin-top: 5px;
                cursor: pointer;
                border-bottom: 2px solid $second-color;
                &:hover {
                    background-color: $second-color;
                }
                .list__avatar {
                }
                .list__info {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin-left: 20px;
                    .list__username {
                        line-height: 0;
                        font-size: $h5;
                    }
                    .list__messages {
                        line-height: 0;
                    }
                }
                .list__time-ago {
                    width: 100px;
                }
            }
        }
    }
    .main__add-friends {
        width: 100%;
    }
    .main__add-friend-button {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        bottom: 0;
        width: 65px;
        height: 65px;
        background-color: $first-color;
        border-radius: 300px;
        z-index: 1000;
        cursor: pointer;
        right: 0;
        margin-right: 10px;
        &.active {
            visibility: hidden;
        }
        &:hover{
            transition: .25s;
            background-color: $first-alpha-color;
        }
        .fa-user-plus {
            font-size: $h2;
        }
    }
}

// @media screen and (min-width: 481px) and (max-width: 1200px) {
//     // .main {
//     //     .main__left-section {
//     //         .main__content-section {
//     //             .main__contacts {
//     //                 .main__contacts-list {
//     //                     .list__item {
//     //                         grid-template-columns: 50px 320px 92px;
//     //                         gap: 18px;
//     //                         .list__time-ago {
//     //                             position: fixed;
//     //                             right: 0;
//     //                             margin-right: 20px;
//     //                         }
//     //                     }
//     //                 }
//     //             }
//     //         }
//     //     }
//     // }
// }

@media screen and (min-width: 1201px) {
    .main {
        .main__content-section {
            .main__contacts {
                .main__contacts-list {
                    .list__item {
                        height: 80px;
                        .list__avatar {
    
                        }
                        .list__info{
    
                        }
                        .list__time-ago{
                            position: inherit;
                        }
                    }
                }
            }
            .main_add-friends-container {
                position: absolute;
                bottom: 0;
                margin-top: 90px;
                width: 460px;
                height: 65px;
                pointer-events: none;
                .main__add-friend-button {
                    position: absolute;
                    bottom: 0;
                    pointer-events:initial;
                    &.active {
                        visibility: hidden;
                    }
                    &:hover{
                        transition: .25s;
                        background-color: $first-alpha-color;
                    }
                    .fa-user-plus {
                        font-size: $h2;
                    }
                }
            }
        }
    }
}