.main__add-friends {
    background-color: $second-alpha-color;
    height: 100%;
    .add-friends__navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
        font-size: $h3;
        border-bottom: 2px solid #26313f;
        .add-friends__back {
            @include icons-div-styles;
            &:hover {
                background-color: #37465a;
            }
            .fa-arrow-left {
                cursor: pointer;
            }
        }
        .add-friends__input-container {
            width: 380px;
            height: 40px;
            border-radius: 3000px;
            background-color: $second-color;
            border: 1px solid $second-alpha-color;
            display: flex;
            align-items: center;
            &:focus-within {
                border-color: $first-color;
            }
            &:hover {
                border-color: $first-color;
            }
            .fa-search {
                margin-left: 10px;
            }
            .add-friends__input {
                width: 331px;
                height: 38px;
                border: none;
                background-color: $second-color;
                border-radius: 3000px;
                outline: none;
                color: $white-color;
                padding-left: 15px;
                font-family: 'Poppins';
            }
        }
    }
    .friends-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .friends-suggestion {
            text-align: center;
        }
        .friends-not-found {
            text-align: center;
        }
        .friends__loader {
            margin-top: 50%;
            text-align: center;
        }
        .friends-list {
            display: flex;
            flex-direction: column;
            list-style: none;
            padding-left: 20px;
            margin: 0;
            .list__item {
                display: flex;
                align-items: center;
                height: 82px;
                border-bottom: 2px solid #26313f;
                .list__avatar {

                }
                .list__info {
                    display: flex;
                    flex-direction: column;
                    margin-left: 30px;
                    line-height: 0;
                    .list__username {

                    }
                    .list__last-seen {
                        color: $gray-color;
                    }
                }
                .list__add-friend {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 270px;
                    font-size: $h2;
                    border-radius: 3000px;
                    width: 50px;
                    height: 50px;
                    &:hover {
                        background-color: $second-color;
                    }
                    .fas {
                        font-size: $h2;
                    }
                    .fa-user-check {
                        pointer-events: none;
                        cursor: none;
                    }
                    .fa-user-plus {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}